Pillow==5.4.1
pkg-resources==0.0.0
PyAutoGUI==0.9.35
PyGetWindow==0.0.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.19
python-xlib==0.19
python-yubico==1.3.2
PyTweening==1.0.3
pyusb==1.0.0
six==1.12.0
